footer.bg-light
  .container.content
        p#copyright Copyright 2021. SKKU Crawler Team All right reserved.
        .logo-link
          | ScrapyController
          a(href="https://github.com/tsfo1489/ScrapyController", target="_blank")
            img(src="/images/github.svg" alt="github logo") 